@model netCorePiesFromScratch.ViewModels.HomeViewModel

@foreach (var pie in Model.Pies)
{
    <div class="col-sm-4 col-lg-4">
        <div class="img-thumbnail">
            <img src="@pie.ImageThumbnailUrl" />
            <div class="py-2">
                <h3 class="float-right">@pie.Price.ToString("c")</h3>
                <h3>
                    @pie.Name
                </h3>
                <p>@pie.ShortDescription</p>
            </div>
        </div>
    </div>
}