body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url('/images/pattern.png');
    background-repeat: repeat;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
}

.thumbnail-margin {
    margin-bottom: 15px;
    margin-top: 15px;
}

.img-full {
    width: 100%;
}